 
.navbar{
    box-shadow: none;
}
#navBar{
  position: fixed;
  top: 0; left: 0; right: 0;

}
.navbar .container-fluid{
    margin-left: 2rem;
    margin-right:2rem;
}
.nav-item >a{
    font-size: 14.5px !important;
    font-weight: 400 !important;
    padding: 1rem 1.2rem;
}
.active{
    background-color: white;
    transition:   all 1s ease-in-out;

}

.nav-item{
    
} 




@media (max-width: 480px) {
    .navbar-collapse
      {
          background-color:#FA0;
      }
  }